@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Blast your party, right now!</h1>
    <img src="~/Concert.jpg" alt="Picture of concert" />
    <p>This website contains of news about all the coming events that will takes place in Ohio, which goes for musicians and where they will play.</p>
    <p>You will also ba able get a lot information about where to eat nearby and what cocktail that is their bars most hottest.</p>
    <p>If you are curious about or something have some unanswered questions? Please contact us below, so we can provide our best to help you.</p>
</div>
