body {
    background: url("Night-Life.jpg");
}

img {
    width: 500px;
}

div {
    color: yellow;
}

a {
    color: yellow;
}

footer {
    background-color: black;
}

th {
    color: yellow;
}

td {
    color: yellow;
}
